/* Reset de estilos*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #ed5252;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para a barra de navegacao */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilo para o cabecalho */
.header {
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    gap: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 0.5vw;
}

.header li {
    /* padding: 8px;  */
    font-size: medium; 
}

.header li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

/* Estilo para o rodape */
.footer {
    text-align: center;
    margin-top: 30px;
    bottom: 20px;
    /* position: fixed; */
    left: 0;
    right: 0;
    padding: 20px;
    /* padding-bottom: 20%; */
    padding-top: 50%;
    text-align: center;
}

/* Estilo para as paginas especificas */
/* Pagina inicial */
.welcome-page {
    text-align: center;
}

.welcome-section {
    color:#333;
    padding: 20px;
    padding-top: 50%;
    text-align: center;
}

/* Pagina de dicas de exercicios */
.exercise-tips-page {
    
}

/* Pagina de calculo do IMC */
.calculate-imc-page {
    
} 

@media only screen and (max-width: 768px){
    .container {
        width: 90%;
    }
}