/* Reset de estilos*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #fefdfd;
    color: #333;
    align-items: center;
}

.index-body-align-center {
    padding-top: 20px;
    /* padding-bottom: 20%; */
}

.body-exercice-tips {
    padding-top: 5%;
    padding-bottom: 5%;
}

.body-imc {
    padding-top: 5%;
}

.body-healthy-food {
    padding-top: 5%;
}

.ul-dicas-exercicios {
    padding-left: 5%;
}

.intro-imc {
    padding-bottom: 5%;
    text-align: justify;
}

.end-intro-healthy-food {
    text-align: justify;
}

#resultado {
    padding-top: 10px;
}

#h3-calcular-proteina {
    padding-bottom: 10px;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.acompanhamento-peso {
    padding-top: 5%;
    padding-bottom: 15px;

}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 12px 12px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(221, 218, 218) transparent;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  #fetch-more-tips-btn {
    background-color: mediumseagreen; 
    border: none; 
    color: white; 
    font-size: small;padding: 5px; 
    border-radius: 10px;
  }

  #button-excluir-peso {
    background-color: transparent; 
    border: none; 
    color: black; 
    font-size: small;
    padding-left: 5px;

  }

  #button-registrar-peso {
    background-color: mediumseagreen; 
    border: none; 
    color: white; 
    font-size: small;
    padding: 5px; 
    border-radius: 10px;
  }

  #button-login {
    background-color: mediumseagreen; 
    border: none; 
    color: white; 
    font-size: small;
    padding: 5px; 
    border-radius: 10px;
  }

  #h3-acompanhamento-peso, #h3-historico-pesos {
    padding-bottom: 10px;
  }

  #lista-historico-pesos {
    padding-left: 15px;
  }

  .login-container{
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 40%;
    padding-bottom: 40%;
    display: flex;
    justify-content: center;
  }

  /* #h3-login {
    display: flex;
    justify-content: center;
  } */

/* Estilos para a barra de navegacao e cabecalho */
@media (min-width: 769px){
    .navbar {
        background-color: mediumseagreen;
        color: #fff;
        padding: 10px 0;
    }
    
    .navbar ul {
        list-style-type: none;
    }
    
    .navbar ul li {
        display: inline;
        margin-right: 20px;
    }
    
    .navbar ul li a {
        color: #fff;
        text-decoration: none;
    }
    
    .navbar li:hover {
        /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
        border-radius: 8px;
        padding: 10px;
        font-size: x-large;
    }

    #li-alimentos-saudaveis {
        padding-left: 15px;
    }
    .ul-alimentos-saudaveis-intro {
        padding-left: 15px;
    }
    .footer-index {
        text-align: center;
        margin-top: 5%;
        bottom: 20px;
        /* position: fixed; */
        left: 0;
        right: 0;
        padding-top: 10%;
        /* padding-bottom: 20%; */
        /* padding-top: 50%; */
        text-align: center;
    }
    #myChart {
        width: 500px; 
        height: 300px;
    }
    
    .user-info {
        padding-left: 85%;
        padding-top: 15px;
      }
}

#detalhes-alimento {
    padding: 10%;
}


/* Estilo para o rodape */
.footer {
    text-align: center;
    margin-top: 5%;
    bottom: 20px;
    /* position: fixed; */
    left: 0;
    right: 0;
    padding: 20px;
    /* padding-bottom: 20%; */
    /* padding-top: 50%; */
    text-align: center;
}

/* Pagina inicial */
.welcome-page {
    text-align: center;
}

.welcome-section {
    color:#333;
    padding: 20px;
    padding-top: 10%;
    text-align: center;
}

@media only screen and (max-width: 768px){
    body {
        font-size: small;
    }
    
    .container {
        width: 90%;
    }

    .navbar {
        background-color: mediumseagreen;
        color: #fff;
        padding: 10px 0;
    }
    
    .navbar ul {
        list-style-type: none;
    }
    
    .navbar ul li {
        display: inline;
        margin-right: 20px;
    }
    
    .navbar ul li a {
        color: #fff;
        text-decoration: none;
    }
    #li-alimentos-saudaveis {
        padding-left: 5px;
        font-size: small;
    }
    .healthy-food-intro {
        padding-left: 5px;
        font-size: small;
    }

    .ul-alimentos-saudaveis-intro {
        padding-left: 15px;
        text-align: justify;
    }
    
    .footer-index {
        text-align: center;
        margin-top: 5%;
        bottom: 20px;
        /* position: fixed; */
        left: 0;
        right: 0;
        padding-top: 50%;
        /* padding-bottom: 20%; */
        /* padding-top: 50%; */
        text-align: center;
    }
    #myChart {
        width: 300px; 
        height: 200px;
    }
    
    .acompanhamento-peso {
        font-size: small;
    }

    #button-excluir-peso {
        font-size: small;
    }

    .user-info {
        padding-left: 65%;
        padding-top: 15px;
      }
}