<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <link rel="icon" href="\static\icon.png" type="image/x-icon">
    <title>Acompanhamento de medidas</title>
</head>
<body>
    <header class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Menu
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                {% if session.loggedin %}
                        <li><a href="{{ url_for('weight_tracker')}}">Historico Peso</a></li>
                        <li><a href="{{ url_for('weight_form')}}">Cadastro Peso</a></li>
                        <li><a href="{{ url_for('calculate_imc')}}">Calculo IMC</a></li>
                        <li><a href="{{ url_for('healthy_food')}}">Dicas Alimentacao</a></li>
                        <!-- <li><a href="{{ url_for('exercise_tips')}}">Dicas Exercicios</a></li> -->
                        {% if session.username == 'admin'%}
                        <li><a href="{{ url_for('register')}}">Cadastrar Usuario</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('logout')}}">Sair</a></li>
                    </div>
                </div>
          
                <p class="user-info">Ola, {{ session.username }}</p>
                {% else %}
                <li><a href="{{ url_for('login')}}">Login</a></li>
                {% endif %}
    </header>
    
    <div class="container">
        <div class="acompanhamento-medidas">
            <h3 id="h3-acompanhamento-medidas">Historico de medidas</h3>
            <br>

            <div id="myChartMedidas"></div>

            <br>
            <select id="select-item" onchange="updateChart()">
                <option value="peso">Peso</option>
                <option value="altura">Altura</option>
                <option value="date">Data</option>
                <option value="circunferencia_braco">Circunferencia Biceps</option>
                
            </select>
            <h3 id="h3-historico-medidas">Histórico de Medidas Corporais:</h3>
            <ul id="lista-historico-medidas">
                {% for medida in medidas %}
                    <li>
                        User ID: {{ medida['user_id'] }}  <button id="button-excluir-medidas" onclick="excluirMedidas('{{ medida['id'] }}')">
                            <img src="\static\trash.svg">
                        </button>
                        <br>
                        Data: {{ medida['date'] }} <br>
                        Altura: {{ medida['altura'] }} <br>
                        Peso: {{ medida['peso'] }} <br>
                        <!-- Adicione outros campos de medida conforme necessário -->
                       
                    </li>
                {% endfor %}
            </ul>
            
        </div>
        
        
    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; Saude e Bem-estar. Todos os direitos reservados.</p>
        </div>
    </footer>
    
    <script>
        function excluirMedidas(medidasId) {
            // Faça uma requisição para a rota de exclusão
            fetch(`/excluir_medidas/${medidasId}`, {
                method: 'DELETE',
            })
            .then((response) => {
                if (response.status === 204) {
                    console.log('Medidas excluídas com sucesso');
                    window.location.reload();
                } else {
                    console.error('Erro ao excluir medidas');
                }
            })
            .catch((error) => {
                console.error('Erro na requisição:', error);
            });
        }
    </script>

<script src="https://www.gstatic.com/charts/loader.js"></script>

<script>
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      // Defina os dados do gráfico.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Data');
      data.addColumn('number', 'Peso');
      var selectedItem = document.getElementById("select-item").value;


      data.addRows([
        {% for row in medidas %}
                ['{{ row['date'] }}', {{ row['circunferencia_braco'] }}],
            {% endfor %}
      ]);

      // Opções do gráfico
        var options = {
            hAxis: {
            // Defina a opção para não mostrar rótulos de datas
            // showTextEvery: 99999, // Um valor grande para evitar a exibição de rótulos
            textPosition: 'none',
            },
        };

      // Instancie e desenhe o gráfico.
      var chart = new google.visualization.LineChart(document.getElementById('myChartMedidas'));
      chart.draw(data, options);
    }
  </script>

<script>
    function updateChart() {
        var selectedItem = document.getElementById("select-item").value;

        // Faça uma solicitação AJAX para obter os dados específicos do banco de dados para o item selecionado
        fetch(`/get_medidas_data/${selectedItem}`)
            .then(response => response.json())
            .then(data => {
                // Defina os dados do gráfico com base nos dados recebidos
                var chartData = new google.visualization.DataTable();
                chartData.addColumn('string', 'Data');
                chartData.addColumn('number', selectedItem.charAt(0).toUpperCase() + selectedItem.slice(1));

                data.forEach(row => {
                    chartData.addRow([row.date, row[selectedItem]]);
                });

                // Opções do gráfico
                var options = {
                    hAxis: {
                        textPosition: 'none',
                    },
                };

                // Instancie e desenhe o gráfico.
                var chart = new google.visualization.LineChart(document.getElementById('myChartMedidas'));
                chart.draw(chartData, options);
            })
            .catch(error => console.error('Erro ao obter dados:', error));
    }

    // Carregue o gráfico inicialmente
    google.charts.setOnLoadCallback(updateChart);
</script>


</body>
</html>
