<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saude & Bem-estar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <link rel="icon" href="\static\icon.png" type="image/x-icon">
</head>
<body>
    <header class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Menu
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                {% if session.loggedin %}
                        <li><a href="{{ url_for('weight_tracker')}}">Historico Peso</a></li>
                        <li><a href="{{ url_for('weight_form')}}">Cadastro Peso</a></li>
                        <li><a href="{{ url_for('exibir_medidas')}}">Exibir Medidas Corporais</a></li>
                        <li><a href="{{ url_for('calculate_imc')}}">Calculo IMC</a></li>
                        <li><a href="{{ url_for('healthy_food')}}">Dicas Alimentacao</a></li>
                        
                        {% if session.username == 'admin'%}
                        <hr>
                        <li><a href="{{ url_for('register')}}">Cadastrar Usuario</a></li>
                        <li><a href="{{ url_for('cadastrar_medidas')}}">Cadastrar Medidas Corporais</a></li>
                        
                        {% endif %}
                        <li><a href="{{ url_for('logout')}}">Sair</a></li>
                    </div>
                </div>
          
                <p class="user-info">Ola, {{ session.username }}</p>
                {% else %}
                <li><a href="{{ url_for('login')}}">Login</a></li>
                {% endif %}
    </header>

    <div class="index-body-align-center">
        <div class="container">
            <section class="welcome-section">
                <h2>Seja bem-vindo ao nosso site!</h2>
            </br>
                <p>Aqui voce encontra dicas uteis para melhorar sua saude e bem-estar.</p>
            </section>
        </div>

        <footer class="footer-index">
            <div class="container">
                <p>&copy; 2024 Saude & Bem-estar. Todos os direitos reservados.</p>
            </div>
        </footer>
    </div>
</body>
</html>