<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo ao seu site de Saude & Bem-estar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    
    <header class="navbar">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('exercise_tips')}}">Dicas</a></li>
                    <li><a href="{{ url_for('calculate_imc')}}">IMC</a></li>
                    <li><a href="{{ url_for('healthy_food')}}">Alimentacao</a></li>
                </ul>
            </nav>
        </div>
    </header>
 
    
    <div class="container">
        <section class="welcome-section">
            <h2>Seja bem-vindo ao nosso site!</h2>
            <p>Aqui voce encontra dicas uteis para melhorar sua saude e bem-estar.</p>
        </section>
    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Saude & Bem-estar. Todos os direitos reservados.</p>
        </div>
    </footer>

</body>
</html>