<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <link rel="icon" href="\static\icon.png" type="image/x-icon">
    <title>Página de Login</title>
</head>
<body>
    <header class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Menu
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                {% if session.loggedin %}
                        <li><a href="{{ url_for('weight_tracker')}}">Historico Peso</a></li>
                        <li><a href="{{ url_for('weight_form')}}">Cadastro Peso</a></li>
                        <li><a href="{{ url_for('calculate_imc')}}">Calculo IMC</a></li>
                        <li><a href="{{ url_for('healthy_food')}}">Dicas Alimentacao</a></li>
                        <li><a href="{{ url_for('exercise_tips')}}">Dicas Exercicios</a></li>
                        {% if session.username == 'admin'%}
                        <li><a href="{{ url_for('register')}}">Cadastrar Usuario</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('logout')}}">Sair</a></li>
                    </div>
                </div>
          
                <p class="user-info">Ola, {{ session.username }}</p>
                {% else %}
                <li><a href="{{ url_for('login')}}">Login</a></li>
                {% endif %}
    </header>
  
    <div class="login-container">
        <form action="/login" method="POST">
            <h3 id="h3-login">Login</h3>
            <input type="text" name="username" placeholder="Nome de Usuário" required>
            <input type="password" name="password" placeholder="Senha" required>
            <button type="submit" id="button-login">Entrar</button>
        </form>
    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; Saude & Bem-estar. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>
