<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <link rel="icon" href="\static\icon.png" type="image/x-icon">
    <title>Registro de Usuário</title>
</head>
<body>
    <header class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Menu
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                {% if session.loggedin %}
                        <li><a href="{{ url_for('weight_tracker')}}">Acompanhamento Peso</a></li>
                        <li><a href="{{ url_for('calculate_imc')}}">Calculo IMC</a></li>
                        <li><a href="{{ url_for('healthy_food')}}">Dicas Alimentacao</a></li>
                        <li><a href="{{ url_for('exercise_tips')}}">Dicas Exercicios</a></li>
                        {% if session.username == 'admin'%}
                        <li><a href="{{ url_for('register')}}">Cadastrar Usuario</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('logout')}}">Sair</a></li>
                    </div>
                </div>
          
                <p class="user-info">Ola, {{ session.username }}</p>
                {% else %}
                <li><a href="{{ url_for('login')}}">Login</a></li>
                {% endif %}
    </header>
    <h3>Cadastro de Usuário</h3>
    <form action="/register" method="POST">
        <label for="username">Nome de Usuário:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="number_id">Matrícula:</label>
        <input type="text" id="number_id" name="number_id" required><br>

        <label for="date">Data:</label>
        <input type="date" id="date" name="date" required><br>

        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required><br>

        <input type="submit" value="Registrar">
    </form>
</body>
</html>
